.skillbar-container {
    margin-top: 2rem;
    opacity: .2;
    border-radius: 5px 5px 10px 10px;
}

.skillbar-container:hover {
    opacity: 1;
    box-shadow: 0px 0px 30px rgb(255, 16, 240, 1);
}

.bar {
    display: flex;
    width: 100%;
    height: 1.3em;
    background-color: white;
    align-items: center;
    border-radius: 10px;
}

.progress-bar {
    margin-left: .25em;
    display: flex;
    height: 0.8em;
    border-radius: 10px;
}

.skill-name {
    color: rgba(155, 239, 245, 0.8);
    font-size: xx-large;
    margin-left: 1%;
    margin-bottom: .5%;
}